 
<div class="container-fluild">
   <ul class="navbar- nav">
      <li class="nav-item">
        <a class="nav-link active"routerLink="">Databinding</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active"routerLink="directive">Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"routerLink="parent">Parent-Child</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "routerLink="outer">Outer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "routerLink="comp-a">Comp-A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "routerLink="comp-b">Comp-B</a>
      </li>
      
      
      
    </ul>
  
    
  </div>
  <router-outlet></router-outlet>